.all-Albums{
    display: flex;
    flex-direction: column;
    background-color: rgb(25, 25, 25);
    padding: 0px 10px 0px 10px;
    padding-right: 10px;
}
.Albums-header span:hover{
    text-decoration: underline;
    cursor: pointer;
}
.Albums-header{
    min-height: 50px;
    font-size: 24px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 8px;
    letter-spacing: 1.2px;
}
.Albums-main{
    min-height: 85%;
    max-height: 90%;
    column-gap: 8px;
    display: flex;
    color: white;
    padding-left: 2px;
   /* flex-wrap: wrap;*/
}
.each-album{
    max-height: 80%;
    flex: 1 1 calc(100%/7);
    column-gap: 6px;
    margin-bottom: 10px;
    transition: all 0.1s;
}
.eAl-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 2px;
    position: relative;
}
.eAl-image img{
    width: 165px;
    height: 165px;
    object-fit: cover;
    border-radius: 8px;
}
.eAl-name{
    color: white;
    font-weight: 300;
    font-size: 15.5px;
    letter-spacing: 1px;
    margin: 9px 0px 4px 10px;
}
.eAl-artists{
    font-size: 13.5px;
    font-weight: 200;
    color: rgb(149, 148, 148);
    margin: 8px 0px 10px 10px;
    letter-spacing: 0.8px;
}
.eAl-playBtn{
    max-width: 48px;
    max-height: 48px;
    position: absolute;
    z-index: 2;
    right: 8px;
    bottom: -10px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.4s;
}
.eal-playBtn:hover {
    transform: scale(1.2);
}
.each-album:hover .eAl-playBtn{
    opacity: 1;
    transform: translateY(-10px);
}
.each-album:hover{
    background-color: rgb(45, 44, 44);
    border-radius: 10px;
    cursor: pointer;
}
.eAl-footer-artist:hover{
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 608px)
{
    .Albums-main{
        flex: 1 1 calc(100%/2);
    }
    .each-album:nth-child(n+3)
    {
        display: none;
    }
}

@media (max-width : 764px){
    .Albums-main{
        flex: 1 1 calc(100%/3);
    }
    .each-album:nth-child(n+4)
    {
        display: none;
    }
}
@media (min-width : 830px) and (max-width:1049px){
    .Albums-main{
        flex : 1 1 calc(100%4);
    }
    .each-album:nth-child(n+5)
    {
        display: none;
    }
}

@media (min-width: 1050px) and (max-width: 1206px)
{
    .Albums-main{
        flex: 1 1 calc(100%/5);
    }
    .each-album:nth-child(n+6)
    {
        display: none;
    }
}

@media (min-width : 1207px) and (max-width: 1410px)
{
    .Albums-main{
        flex:  1 1 calc(100%/6);
    }
 .each-album:nth-child(n+7)
    {
        display: none;
    }
}

@media (min-width : 1396px)
{
    .Albums-main{
        flex : 1 1 calc(100%/7);
    }
}
